body{
    background: linear-gradient(to right,black,deeppink);
}
.pa1{
    width: 165px;
    background-color: white;
    margin-bottom: 10px;
    border-color: blue;
}
.container{
    box-shadow: 0px 6px 2px 0px rgba(11, 106, 238, 0.45),0px 4px 6px 2px rgba(6, 231, 164, 0.75);
 
    text-align: center;
    margin-top: 90px;
height: 340px;
width: 190px;
border-radius: 10px;
border: 2px solid rgb(131, 253, 10);
}
input{
    font-weight: 600;
    background-color: cyan;
    border-color: deeppink;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 10px;
}